.apexcharts-gridline {
  stroke: #fff;
}

.tooltip {
  padding: 10px;
}

.chart-container {
  display: flex;
  width: 100%;
  padding: 20px;
}
.chart {
  flex: 0.7;
  margin-right: 15px;
}

.tracker-tab {
  flex: 0.3;
  margin-left: 15px;
  overflow-y: auto;
}

.apexcharts-yaxis-label,

.apexcharts-title-text {
  font-size: 12px !important;
  font-weight: 600 !important; 
  font-family: 'Helvetica', sans-serif !important;
}