.summary-container {
  display: flex;
  justify-content: space-between;
}

.summary-container {
    display: flex;
    justify-content: space-between;
  }
  
  .summary-container .ant-card:not(:last-child) {
    flex: 1;
    margin-right: 20px;
  }
  
  .summary-container .ant-card:last-child {
    flex: 1;
  }

.summary-card h2 {
  font-size: 2em;
  font-weight: bold; 
}

.summary-card p {
  font-size: 1.2em;
  color: gray;
  font-weight: bold; 
}
.card-content {
    display: flex;
    align-items: center;
  }
.card-image {
    width: 25%;
    margin-right: 10px;
  }