.summary-container {
  display: flex;
  justify-content: space-between;
}

.summary-container {
    display: flex;
    justify-content: space-between;
  }
  
  .summary-container .ant-card:not(:last-child) {
    flex: 1;
    margin-right: 20px; /* Add right margin to all cards except the last one */
  }
  
  .summary-container .ant-card:last-child {
    flex: 1;
  }

.summary-card h2 {
  font-size: 2em; /* Make the title a big number */
  font-weight: bold; /* Make the title bolded */
}

.summary-card p {
  font-size: 1.2em; /* Make the description only slightly bigger */
  color: gray; /* Make the description gray color */
  font-weight: bold; /* Make the description bolded */
}
.card-content {
    display: flex;
    align-items: center;
  }
.card-image {
    width: 25%;
    margin-right: 10px;
  }