.tracker-list {
  list-style: none;
  margin-left: 4px;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-top: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 20em;
  width: 100%;
  background-color: #ffffff4f;
  color: #00203fff;
}

.tracker-item {
  margin-top: 2px;
  margin-bottom: 2px;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  font-size: 0.8em;
}

h2 {
  font-size: 1.3em;
  margin-bottom: 20px;
}

.flex-container {
  background-color: #fff;
}
